<!DOCTYPE html>
<html>
<head>
    <title>VisionGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>VisionGuard</h1>
        <h2>Manufacturing Defect Detection</h2>

        <p>
            AI-powered computer vision system for detecting
            manufacturing defects from product images.
        </p>

        <div class="box">
            <h3>Upload Product Image</h3>
            <input type="file" accept="image/*">
            <br><br>
            <button>Analyze Image</button>

            <p>Model integration is under development.</p>
        </div>

        <footer>VisionGuard | AI-Based Manufacturing Inspection</footer>
    </div>
</body>
</html>